/* .slick-slider {
  height: 100%;
}



.slick-dots li {
  width: 40px;
  height: 40px;
  margin: 5px 5px;
}



.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
  z-index: 2;
}
@media (max-width: 900px) {
  .slick-list {
    border-radius: 0;
  }
} */

.slick-dots {
  text-align: start;
  bottom: -10px;
  left: 16px;
  position: relative;
  display: none !important;
}
.slick-list {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
